<%= session[:username] %>
<%= session[:dialect] %>

<div id='messages'>
<% @messages.each do |message| %>
    <div>
      <%= message.user %>
      <%= message.text %>
    </div>
  <% end %>
</div>

<%= simple_form_for @message, url: '#' do |f| %>
  <%= f.input :text %>
  <%= f.input :user, as: :hidden, input_html: { value: session['username'] } %>
  <%= f.submit 'Send' %>
<% end %>

<div id='active-users'>
  <h3>Active users</h3>
</div>