<%= session[:username] %>
<%= session[:dialect] %>

<% @messages.each do |message| %>
  <div>
    <%= message.user %>
    <%= message.text %>
  </div>
<% end %>

<%= simple_form_for @message, remote: true do |f| %>
  <%= f.input :text %>
  <%= f.submit 'Send' %>
<% end %>