<%= session[:username] %>
<%= session[:dialect] %>

<div id='messages'>
<% @messages.each do |message| %>
    <div>
      <%= message.user %>
      <%= message.text %>
    </div>
  <% end %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <%= f.label :text %>
  <%= f.text_area :text %>
  <%= f.hidden_field :user, value: session['username'] %>
  <%= f.submit 'Send' %>
<% end %>